html { font-family: sans-serif; background: #eee; padding: 1rem; }
body { max-width: 600px; margin: 200px auto; padding:100px; border-radius: 100px; background: white; align-content: center;}
h1 { font-family: serif; color: black; margin: 1rem 0; }